.datepicker-date-display {
    background-color: #00bcd4;
      
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #00bcd4;
  
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #00bcd4;
 
}